.main {
	width: 100%;
	height: 100%;
}
#alert {
	width: 100%;
	height: 200px;
	horizontal-align: center;
	margin-top: 150px;
}
#alert Label {
	text-align: center;
	font-size: 60px;
	width: 100%;
	opacity: 0;
	color: white;
	transition-property: opacity, text-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	text-shadow: 2px 2px 3px 2.0 #000000;
}
.visible,
#alert Label.visible {
	opacity: 1;
}

.dialog {
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2efc ), to( #131617fc ) );
	border: 1px solid #999999;
	background-size: cover;
	border-radius: 20px;
	flow-children: down;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 20px;	
}
#gameover {
	width: 500px;
	visibility: collapse;
}
.dialog Label,
.dialog Panel Label {
	color: white;
	text-align: center;
	font-size: 40px;
	width: 100%;
	margin: 10px;
}
#rematch-buttons {
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	padding-bottom: 10px;
}
#gameover Button {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	box-shadow: fill 3px 3px 5px 0px #000000;
	margin: 10px 30px;
}
#gameover Button Label {
	font-size: 30px;
	horizontal-align: center;
	vertical-align: center;
	margin: 5px;
}
.btn-yes {
	background-color: #006d01;
	border: 1px solid #013601;
}
.btn-yes:hover {
	background-color: #005401;
}
.btn-yes:active {
	background-color: #013601;
}
.btn-no {
	background-color: #9C0000;
	border: 1px solid #4A0000;
}
.btn-no:hover {
	background-color: #730000;
}
.btn-no:active {
	background-color: #4A0000;
}

#pick {
	flow-children: down;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 100px;
}
#pick-header {
	width: 100%;
}
#pick-header Label {
	font-size: 30px;
	height: 45px;
}
.pick-row {
	flow-children: right;
	horizontal-align: center;
}
.pick-hero {
	margin: 5px;
	box-shadow: inset 0px 0px 3px 1px #000000;
	opacity: 0.5;
	border-radius: 5px;
}
.pick-hero DOTAHeroImage,
.pick-hero Image {
	width: 128px;
	height: 72px;
}
.pick-hero.enabled:hover,
.picked {
	opacity: 1;
}
.pick-hero.enabled:active,
.picked {
	box-shadow: inset 3px 3px 5px 6px #000000;
}
.pick-hero.unpicked.enabled:hover {
	saturation: 0.5;
}
.pick-hero.unpicked.enabled {
	saturation: 0.3;
}
.pick-hero.unpicked {
	saturation: 0.1;
}
#pick-buttons-area {
	horizontal-align: center;
	flow-children: down;
}
#pick-main {
	flow-children: down;
}
#pick-confirm-button {
	width: 300px;
	height: 50px;
	horizontal-align: center;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	box-shadow: fill 0px 3px 5px 5px #000000;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #b7b7b7 ), to( #848484 ) );
}
#pick-confirm-button.enabled {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #e5000f ), to( #930009 ) );
}
#pick-confirm-button.enabled:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #930009 ), to( #e5000f ) );
}
#pick-confirm-button.enabled:active {
	margin-top: 12px;
	margin-bottom: 3px;
}
#pick-confirm-button Label {
	margin: 0;
	font-size: 35px;
	vertical-align: center;
}
.pick_board {
	margin-bottom: 100px;
}
#pick-board-main {
	flow-children: down;
	width: 100%;
}
#pick-board-lower {
	border-top: 1px solid #999999;
	width: 700px;
	margin-top: 20px;
	flow-children: down;
	padding-top: 10px;
}
.pick-showcase {
	width: 550px;
	flow-children: right;
	margin: 10px 0px;
	horizontal-align: center;
}
#pick-board-lower .right-panel {
	margin: 0px 20px;
	flow-children: down;
	width: 100%;
}
#hero-form-showcase Label,
#split-form-showcase Label {
	font-size: 22px;
	text-align: left;
	margin: 0;
}
.ability-showcase {
	flow-children: right;
}
.ability-showcase DOTAAbilityImage {
	width: 65px;
	height: 65px;
	margin-right: 10px;
	border: 2px solid gray;
	box-shadow: 0px 0px 3px 3px black;
}
#split-form-image {
	width: 128px;
	height: 72px;
	vertical-align: center;
	border-radius: 5px;
	box-shadow: fill 0px 0px 2px 3px #000000;
}
#hero-form-showcase DOTAHeroImage {
	vertical-align: center;
	border-radius: 5px;
	box-shadow: fill 0px 0px 2px 3px #000000;
}
#pick-tips {
	width: 100%;
	height: 110px;
}
#pick-tips-label {
	width: 100%;
	text-align: center;
	font-size: 20px;
	vertical-align: center;
	font-style: italic;
	line-height: 20px;
	color: rgba(255,255,255,200);
}
#pick-wrapper {
	height: 100%;
	width: 100%;
}

#tips {
	/* visibility: collapse; */
	flow-children: down;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 100px;
	width: 375px;
	height: 615px;
	margin-right: 10px;
	position: 0px 0px 0px;
	transition: position 1.5s ease-in-out 0.5s;
}
#tips.hidden {
	position: 400px 0px 0px;
}
#tips-header {
	width: 100%;
	height: 40px;
	font-size: 26px;
	text-decoration: underline;
}
#tips-contents {
	width: 100%;
	height: 380px;
	flow-children: down;
	margin-bottom: 5px;
}
#tips-top-container {
	flow-children: right;
	height: 130px;
	width: 100%;
}
#tips-contents Label {
	font-size: 20px;
	text-align: left;
	width: 100%;
}
#tips-top-container Label {
	width: 70%;
}
#tips-heroimage {
	horizontal-align: right;
	width: 25%;
	height: 100px;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: fill 0px 0px 3px 3px black;
}
#tips ToggleButton {
	width: 100%;
	margin: 0 5px;
	padding-top: 5px;
	border-top: 1px solid white;
	padding-left: 25px;
}
#tips ToggleButton Label {
	font-size: 24px;
	text-align: left;
}
.big-red-button {
	width: 300px;
	height: 50px;
	horizontal-align: center;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	box-shadow: fill 0px 3px 5px 5px #000000;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #e5000f ), to( #930009 ) );
}
.big-red-button:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #930009 ), to( #e5000f ) );
}
.big-red-button:active {
	margin-top: 12px;
	margin-bottom: 3px;
}
.big-red-button Label {
	margin: 0;
	font-size: 35px;
	vertical-align: center;
}