.main {
	width: 100%;
	height: 100%;
}
#alert {
	width: 100%;
	height: 200px;
	horizontal-align: center;
	margin-top: 150px;
}
#alert Label {
	text-align: center;
	font-size: 60px;
	width: 100%;
	opacity: 0;
	color: white;
	transition-property: opacity, text-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	text-shadow: 2px 2px 3px 2.0 #000000;
}
.visible,
#alert Label.visible {
	opacity: 1;
}

.dialog {
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 100px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
	border: 1px solid #999999;
	background-size: cover;
	border-radius: 20px;
	flow-children: down;
	padding-top: 10px;
	padding-bottom: 10px;	
}
#gameover {
	width: 500px;
	visibility: collapse;
}
.dialog Label,
.dialog Panel Label {
	color: white;
	text-align: center;
	font-size: 40px;
	width: 100%;
	margin: 10px;
}
#rematch-buttons {
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	padding-bottom: 10px;
}
#gameover Button {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	box-shadow: fill 3px 3px 5px 0px #000000;
	margin: 10px 30px;
}
#gameover Button Label {
	font-size: 30px;
	horizontal-align: center;
	vertical-align: center;
	margin: 5px;
}
.btn-yes {
	background-color: #006d01;
	border: 1px solid #013601;
}
.btn-yes:hover {
	background-color: #005401;
}
.btn-yes:active {
	background-color: #013601;
}
.btn-no {
	background-color: #9C0000;
	border: 1px solid #4A0000;
}
.btn-no:hover {
	background-color: #730000;
}
.btn-no:active {
	background-color: #4A0000;
}

#pick {
	flow-children: down;
	padding: 20px;
	visibility: collapse;
}
#pick-header {
	width: 100%;
}
#pick-header Label {
	font-size: 30px;
	height: 80px;
}
.pick-row {
	flow-children: right;
}
.pick-hero {
	margin: 5px;
	box-shadow: inset 0px 0px 3px 1px #000000;
	opacity: 0.5;
}
.pick-hero DOTAHeroImage {
	width: 128px;
	height: 72px;
}
.pick-hero:hover,
.picked {
	opacity: 1;
}
.pick-hero:active,
.picked {
	box-shadow: inset 3px 3px 5px 6px #000000;
}
.pick-hero.unpicked {
	saturation: 0.5;
}