.top_scoreboard {
	width: 100%;
	height: 100%;
	flow-children: right;
	margin-left: 200px;
	margin-right: 200px;
}
.top_scoreboard Panel {
	height: 100%;
}
.left {
	horizontal-align: left;
	text-align: left;
}
.right {
	horizontal-align: right; 
	text-align: right;
}
#center {
	horizontal-align: center;
	width: 10%;
}
.score {
	margin: 0 5px;
}
DOTAHeroImage {
	height: 45px;
	width: 80px;
	margin: 0 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: #000000 0px 0px 10px 0px;
}
DOTAHeroImage.right {
	horizontal-align: right;
}
Label.right {
	horizontal-align: right;
	width: 365px;
}
Label {
	font-size: 24px;
	margin-top: 5px;
}
.top_scoreboard .player {
	flow-children: right;
	width: 100%;
	height: 45px;
}
#left-wrap {
	horizontal-align: left;
	width: 45%;
}
#right-wrap {
	horizontal-align: right;
	width: 45%;
}
#center-contents {
	horizontal-align: center;
	width: 100%;
	flow-children: right;
}
#center-contents Label {
	font-size: 36px;
	text-shadow: 0px 0px 5px 2.0 #000000;
	text-align: center;
	horizontal-align: center;
}
.wrap {
	flow-children: down;
} 
.name {
	text-shadow: 2px 2px 3px 2.0 #000000;
}
.dead {
	saturation: 0.1;
}